{% extends 'layout.jinja2' %}

{% block body %}
            <div class="row">
                <div class="span12">
                    <h1>ログイン完了</h1>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h2>Bookmarklet</h2>
                    <p><a href="javascript: {{ minified }}">[見てるなう]</a></p>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h2>ご利用方法</h2>
                </div>
            </div>

            <div class="row">
                <div class="span8">
                    <iframe width="640" height="480" src="https://www.youtube.com/embed/6MA3EZwz1ck?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="span4">
                    <ol>
                        <li>Twitter で<a href="{{ request.route_path('login') }}">ログイン</a></li>
                        <li>[見てるなう]リンクをブックマークバーにドラッグアンドドロップ</li>
                        <li>好きなページでブックマークバーの[見てるなう]をクリック</li>
                        <li>コメントを入力して Twitter に投稿</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <h2>Raw Bookmarklet Source Code</h2>
                    <pre><code>{{ raw }}</code></pre>
                </div>
            </div>
{% endblock %}
