{% extends 'layout.jinja2' %}

{% block body %}
            <h1>ログイン完了</h1>

            <h2>Bookmarklet</h2>
            <p><a href="javascript: {{ minified }}">[見てるなう]</a></p>
            <p>上のリンク (ブックマークレット) をお使いのブラウザのブックマークバーにドラッグアンドドロップしていただくことで、いつでもどこでも見てるなうできます。<br />
                <img src="{{ request.static_path('miteru:static/img/bookmarklet.png') }}" alt="Bookmarklet" width="400" /></p>

            <h2>Raw Bookmarklet Source Code</h2>
            <pre><code>{{ raw }}</code></pre>
{% endblock %}
