<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name="copyright" content="Copyright (C) yosida95 All Rights Reserved." />
        <meta name="Author" content="yosida95" />
        <meta name="robots" content="ALL" />
        <title>見てるなう(仮)</title>
    </head>
    <body style="text-align: center;">
        <h1>見てるなう(仮)</h1>
        <p>あなたが今見ているウェブページをTwitterで共有するためのサービス</p>
        <p><a href="{{ request.route_path('login') }}">Twitterアカウントでログイン</a></p>
        <p>Copyright (C) <a href="http://yosida95.com/">yosida95</a> All Rights Reserved.</a>
    </body>
</html>
