<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <link type="text/css" href="http://img.yosida95.com/Bootstrap_v2.0.3/css/bootstrap.min.css" rel="stylesheet" />
        <meta http-equiv="content-script-type" content="text/javascript" />
        <script type="text/javascript" src="http://img.yosida95.com/jQuery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="http://img.yosida95.com/Bootstrap_v2.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <meta name="copyright" content="Copyright (C) yosida95 All Rights Reserved." />
        <meta name="Author" content="yosida95" />
        <meta name="robots" content="ALL" />
        <meta name="description" content="いまあなたが見ているウェブページにコメントを付けてTwitterで素早く共有" />
        <meta http-equiv="keyword" content="みてるなう, 見てるなう, Twitter, ウェブページ, 共有" />
        <meta name="keyword" content="みてるなう, 見てるなう, Twitter, ウェブページ, 共有" />
        <title>見てるなう(仮) - 今見ているウェブページをTwitterで素早く共有</title>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15957452-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">見てるなう(仮)</a>
                </div>
            </div>
        </div>

        <div class="container">
            {% block body%}{% endblock %}
        </div>

        <div class="container">
            <div class="row">
                <div class="span12" style="text-align: right;">
                    <p>Copyright (C) <a href="http://yosida95.com/">yosida95</a> All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </body>
</html>
