{% extends 'layout.jinja2' %}

{% block body %}
            <script type="text/javascript">
                if(window.opener != null && window.opener != undefined){
                    window.resizeTo(1000, 450);
                }
            </script>
            <h1>重要なお知らせ</h1>

            <p>「見てるなう(仮)をお使いいだきありがとうございます。</p>
            <p>見てるなう(仮)公開より2ヶ月が経ちますが、ユーザーよりセキュリティ的な脆弱性の報告を受けました。<br />
            これを受け調査いたしましたところ、悪意のあるページを「見てるなう」なさった場合、ユーザーのアカウントを使って自由に「見てるなう」できてしまうことを確認いたしました。</p>
            <p>この度その脆弱性を修正いたしましたので、今お使いのブックマークレットを削除した上で、再度<a href="{{ request.route_path('homepage') }}">「見てるなう(仮)」トップページ</a>より、Twitterアカウントで「見てるなう(仮)」にログインしていただき、脆弱性対策済みブックマークレットへの置き換えをおねがいいたします。</p>
            <p>脆弱性の詳細情報は、<a href="http://yosida95.hatenablog.com/entry/2012/06/25/021925">私のブログエントリ</a>にまとめられています。</p>
            <p>ご迷惑、お手数をお掛けし誠に申し訳ありません。</p>
{% endblock %}

