<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-script-type" content="text/javascript" />
        <script type="text/javascript" src="{{ request.static_path('miteru:static/js/hmac-sha1.js') }}"></script>
        <script type="text/javascript">
            var onmessage = function (message) {
                if(message.source === window.opener){
                    location.href = '{{ request.route_path('post') }}?token={{ token }}&amp;token_hashed=' + CryptoJS.HmacSHA1('{{ token }}', message.data) + '&amp;url=' + encodeURIComponent('{{ url }}') + '&amp;title=' + encodeURIComponent('{{ title }}');
                }
            }
            window.addEventListener('message', onmessage, false);
            window.onload = function (){
                window.opener.postMessage('onload', '*');
            }
        </script>
        <meta name="copyright" content="Copyright (C) yosida95 All Rights Reserved." />
        <meta name="Author" content="yosida95" />
        <meta name="robots" content="None" />
        <title>見てるなう(仮)</title>
    </head>
    <body>
    </body>
</html>
